@(topdata: List[dto.Data_playStore],fulldata: List[dto.Data_playStore])
@main("Welcome to Play") {
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<figure class="highcharts-figure">

    <div id="mostInstalledApps"></div>
    <div id="content_rating_installs"></div>
    <p align="center">
        Bar Graph shows the Content Rating of the applications versus the Total number of Installations for that respective Content Rating.
        Its been evident from the graph that those appications which feaures for everyone irrespective of the age have got the maximum number of installations. Apart from this,
        its has been observed that teen agers have got the maximum craze in downloading apps whether it been Dating apps of Studying
    </p>
    <div id="categoryInstalls"></div>
    <div id = "categoryrating">
    </div>
    <div id = "genresapp"> </div>
    <p align="center">
        Bar Graph shows the No of Apps updated on the Google play store aganist the respective genre for the year 2018.
        Its been observed that Tools and Entertainment genres was the main focus of development for most of the development organizations/companies.
        But still, medical, Sports, business, Educations, etc genres have got quite good attention of the developers
    </p>

</figure>
<div class="container" align="center"
     style="border-style:solid; border-width:1px; margin:10% auto; width:1301px; background-color:dark">

    <div class="table-responsive">
        <table class="table table-striped">
            <h1>Top Apps havving Rating > 4.7 and reviews > 12000000 </h1>
            <tr>
                <th> App Name</th>
                <th> App Category</th>
                <th> Rating </th>
                <th> reviews </th>

            </tr>
            @for(n <- topdata){
            <tr>
                <td> @n.getApp</td>
                <td> @n.getCategory</td>
                <td> @n.getRating</td>
                <td> @n.getReviews</td>
            </tr>
            }
            <!--tr and td'sss-->
        </table>
        <table class="table table-striped">
            <h1>All data </h1>
            <tr>
                <th> ID</th>
                <th> App Name</th>
                <th> Category</th>
            </tr>
            @for(n <- fulldata){
            <tr>
                <td> @n.getId</td>
                <td> @n.getApp</td>
                <td> @n.getCategory</td>
            </tr>
            }
            <!--tr and td'sss-->
        </table>
    </div>

</div>
<script>
/////////////////////////////////////////////////////////////////////////////////////////
 $(document).ready(function(){
        $.ajax({
            url: '/mostinstalledApps',   <!-- url for saving-->
            dataType: 'JSON',
            type: "GET",
            success: function (data) {
                 mostInstalledApps(data.names, data.values);
             },
            error: function (data) {
                console.log(" error"+ data);
            }
        });
    });
    function mostInstalledApps(jsonDataNames, jsonDataValues){
        Highcharts.chart('mostInstalledApps', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Most Installed Apps'
            },
            subtitle: {
                text: 'Source: Google Play Store</a>'
            },
            xAxis: {
                type: 'category ',
                categories: jsonDataNames,
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'No of Installations (in millions)    '
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'No of Installations <b>{point.y:.1f} </b> millions'
            },
            series: [{
                name: "values",
                data: jsonDataValues,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '8px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    }
////////////////////////////////////////////////////////////////////////////////////////
    $(document).ready(function(){
        $.ajax({
            url: '/datacontentratings',   <!-- url for saving-->
            dataType: 'JSON',
            type: "GET",
            success: function (data) {
                 showGraph(data.names, data.values);
             },
            error: function (data) {
                console.log(" error"+ data);
            }
        });
    });
    function showGraph(jsonDataNames, jsonDataValues){
        Highcharts.chart('content_rating_installs', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Content Rating vs Installs Graph'
            },
            subtitle: {
                text: 'Source: Google Play Store</a>'
            },
            xAxis: {
                type: 'category ',
                categories: jsonDataNames,
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'No of Installations (in millions)    '
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'No of Installations <b>{point.y:.1f} </b> millions'
            },
            series: [{
                name: "values",
                data: jsonDataValues,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '15px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    }
    ////////////////////////////////////////////////////////////////////////////////////

     $(document).ready(function(){
        $.ajax({
            url: '/categoryinstalls',   <!-- url for saving-->
            dataType: 'JSON',
            type: "GET",
            success: function (data) {
                 category_installs(data.names, data.values);
             },
            error: function (data) {
                console.log(" error"+ data);
            }
        });
    });

    function category_installs(jsonDataNames, jsonDataValues){
            Highcharts.chart('categoryInstalls', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Category      vs Installs Graph'
                },
                subtitle: {
                    text: 'Source: Google Play Store</a>'
                },
                xAxis: {
                    type: 'category',
                    categories: jsonDataNames,
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'No of Installations'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'No of Installations <b>{point.y:.1f} millions</b>'
                },
                series: [{
                    name: "values",
                    data: jsonDataValues,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.1f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
        }

    //////////////////////////////////////////////////////////////////////////


    $(document).ready(function(){
        $.ajax({
            url: '/categoryrating',   <!-- url for saving-->
            dataType: 'JSON',
            type: "GET",
            success: function (data) {

                 Category_Rating(data.names, data.values);
             },
            error: function (data) {
                console.log(" error"+ data);
            }
        });
    });

    function Category_Rating(jsonDataNames, jsonDataValues){
                Highcharts.chart('categoryrating', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Category vs Rating Graph'
                    },
                    subtitle: {
                        text: 'Source: Google Play Store</a>'
                    },
                    xAxis: {
                        type: 'category',
                        categories: jsonDataNames,
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Average Rating'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'Average Rating <b>{point.y:.1f}'
                    },
                    series: [{
                        name: "values",
                        data: jsonDataValues,
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'right',
                            format: '{point.y:.1f}', // one decimal
                            y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '12px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }]
                });
         }

    //////////////////////////////////////////////////////////////////////////////////////////////////

    $(document).ready(function(){
        $.ajax({
            url: '/genresapp',   <!-- url for saving-->
            dataType: 'JSON',
            type: "GET",
            success: function (data) {

                 Genres_App(data.names, data.values);
             },
            error: function (data) {
                console.log(" error"+ data);
            }
        });
    });
    function Genres_App(jsonDataNames, jsonDataValues){
            Highcharts.chart('genresapp', {
                chart: {
                    type: 'column'

                },
                title: {
                    text: 'No of Applications updated aganist the respective Genre for year 2018'
                },
                subtitle: {
                    text: 'Source: Google Play Store</a>'
                },
                xAxis: {
                    type: 'category',
                    categories: jsonDataNames,
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'No of Apps'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Apps updated in 2018: <b>{point.y:.1f} </b>'
                },
                series: [{
                    name: "values",
                    data: jsonDataValues,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.1f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '15px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });
        }
    </script>
</body>
</html>
}