@(response: String)
@main("Welcome to Nexxo Registration page") {
<html>
<head>
</head>
<body>
<div align="center" style="border-style:solid; border-width:1px; margin:5% 35% 20% 35%; background-color:lightgrey">
  <form method="POST" action="/register/login" name="registrationForm" id="registrationForm">
    <br><br>
    <h1> Registration </h1>
    Enter Name &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp <input type="name" name="name" pattern="([^\s][A-z\s]+)" title="Should contain only alphabatical characters and there should be no open space at the start"/><br><br>
    Enter Email &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp <input type="email" name="email" title="Enter e-mail"/><br><br>
    Enter Password &nbsp &nbsp &nbsp &nbsp &nbsp<input type="password" name="password1" id="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/><br><br>
    Confirm  Password &nbsp &nbsp &nbsp<input type="password" name="password2" title="confirm-password" id="password2" oninput="check(this)" /><br><br>
   <br><br>
    <input type="submit"  value="Register me" ></input>

    &nbsp&nbsp&nbsp
    <br><br>
      <script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password1').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
<!--            input is valid &#45;&#45; reset the error message-->
            input.setCustomValidity('');
        }
    }
</script>
  </form>
  <div>@response</div>
    <br>
  <form action="/login" method="GET" >
    <input type="submit" value="Login if already registered" style="align:center">
    <br><br>
  </form>
</div>
</body>
</html>
}
