@(response: String)
@main("Welcome to Nexxo Registration page") {
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div  style="border-style:solid; border-width:1px; margin:5% 35% 20% 35%; background-color:lightgrey">

    <form method="POST" action="/register/login" name="registrationForm" id="registrationForm">
        <br>

        <div align="center">
            <h1> Registration </h1>
        </div>


        <div class="form-group"  style=" margin:5%">
            <label for="name">Enter Name :</label>
            <input type="name" class="form-control" id="name"  name="name" pattern="([^\s][A-z\s]+)" title="Should contain only alphabatical characters and there should be no open space at the start" />
        </div>

        <div class="form-group"  style=" margin:5%">
            <label for="email">Enter email:</label>
            <input type="email" class="form-control" id="email"  name="email" title="Enter e-mail"/>
        </div>

        <div class="form-group"  style=" margin:5%">
            <label for="password1">Enter Password:</label>
            <input type="password" class="form-control" id="password1"  name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
        </div>

        <div class="form-group"  style=" margin:5%">
            <label for="email">Confirm  Password:</label>
            <input type="password" class="form-control" id="password2"  name="password2" oninput="check(this)" title="confirm-password"/>
        </div>   <br>


        <div align="center">
            <input type="submit"  value="Register me"   class="btn btn-success"></input>
            <br>
        </div>

    </form>


    <div align="center">
        <div>@response</div>    <br>
        <form action="/login" method="GET" >
            <input type="submit" value="Login if already registered" class="btn btn-success">
            <br><br>
        </form>
    </div>


</div>




<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password1').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
<!--            input is valid &#45;&#45; reset the error message-->
            input.setCustomValidity('');
        }
    }
</script>
</body>
</html>
}


